### Build outputs ###
/frontend/target/
/backend/target/
!**/src/main/**/target/
/**/src/test/**/target/

/frontend/build/
/backend/build/
!**/src/main/**/build/
/**/src/test/**/build/

# Spring Boot (backend)
/backend/src/main/resources/application-*.yml
/backend/src/main/resources/application-*.properties
/backend/src/main/resources/*.db
/backend/*.log

# JavaFX (frontend)
/frontend/out/
/frontend/build/
/frontend/dist/
/frontend/*.log

### Maven Wrapper ###
/frontend/.mvn/wrapper/maven-wrapper.jar
/backend/.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Misc ###
HELP.md
